body {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    background-color: white;
}

.visualization-container {
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    background-color: white;
    margin: auto;
    color: black;
    margin: auto;
    width: 60%;

}

.visualization {
    margin: auto;
    display: block;
    width: 100%;
}

.notable-event-circles {
    fill-opacity: 0.1;
}

.column {
    width: 60%;
    margin: auto;
    display: block;
    padding: 1%;
}

img {
    width: 50%;
    margin-left: 25%;
}

.row {
    display: flex;
    align-items: center;
}

.row img {
    height: 23%;
    width: 23%;
    margin: 1%;
    flex: 1;
}

p {
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

p.caption {
    width: 50%;
}

#tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    color: #111111;
    font-size: small;
}

.axis line {
  stroke: #a5a5a5;
  shape-rendering: crispEdges;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.earnesticecream-marker {
    background-image: url('images/earnestlogo.png');
}

.rainorshineicecream-marker {
    background-image: url('images/rainorshinelogo.png');
}

.elephantgardencreamery-marker {
    background-image: url('images/elephantgardenicon.png');
}

.mapboxgl-popup {
    max-width: 200px;
}

@media screen and (max-width: 1680px) {
    .column {
        width: 70%;
    }

    .visualization-container {
        width: 80%;
    }
}

@media screen and (orientation: portrait) and (max-width: 1280px) {
    .column {
        width: 90%;
    }

    p {
        width: 100%;
    }

    img {
        width: 80%;
        margin-left: 10%;;
    }

    p.caption {
        width: 85%;
    }

    .visualization-container {
        width: 90%;
    }
}

@media screen and (orientation: portrait) and (max-width: 736px) {
    .column {
        width: 95%;
    }

    img {
        width: 95%;
        margin-left: 2.5%;;
    }

    p.caption {
        width: 95%;
    }

    .visualization-container {
        width: 98%;
    }
}

.slider {
    -webkit-appearance: none;
    margin-left: 3%;
    margin-right: 3%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}